<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{tit.crear.pelicula}">Crear Película</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<!-- utilizando grid bootstrap tipo: stacked to horizontal -->
<form th:action="@{/peliculas/crear}" th:object="${pelicula}" method="post">
<div class="container">
	<div class="row">
		<div class="col-md-12"><span class="h1" th:text="#{crearPelicula}"></span></div>
	</div>
	<div class="row">
		<div class="col-md-12"><hr/></div>
	</div>
	<div class="row">
		<div class="col-md-6"><label for="titulo" th:text="#{pelicula.titulo}"></label></div>
		<div class="col-md-6">
			<input type="text" id="titulo" name="titulo" th:value="${pelicula.titulo}"/>
			<p th:if="${#fields.hasErrors('titulo')}" class="error">
				<span th:if="${#fields.hasErrors('titulo', 'notEmpty')}" th:text="#{pelicula.titulo.notEmpty}"></span>
				<span th:if="${#fields.hasErrors('titulo', 'size')}" th:text="#{pelicula.titulo.size}"></span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6"><label for="descripcion" th:text="#{pelicula.descripcion}"></label></div>
		<div class="col-md-6">
			<input type="text" id="descripcion" name="descripcion" th:value="${pelicula.descripcion}"/>
			<p th:if="${#fields.hasErrors('descripcion')}" class="error">
				<span th:if="${#fields.hasErrors('descripcion', 'size')}" th:text="#{pelicula.descripcion.size}"></span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6"><label for="fechaLanzamiento" th:text="#{pelicula.fechaLanzamiento}"></label></div>
		<div class="col-md-6">
			<input type="date" id="fechaLanzamiento" name="fechaLanzamiento" th:field="${pelicula.fecha_lanzamiento}"/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6"><label for="id_idioma" th:text="#{pelicula.idioma}"></label></div>
		<div class="col-md-6">
			<select type="text" id="id_idioma" name="id_idioma" th:field="${pelicula.id_idioma}">
				<option th:each="idioma : ${listaIdiomas}" th:value="${idioma.id}" th:text="${idioma.nombre}"></option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6"><label for="duracion_alquiler" th:text="#{pelicula.duracionAlquiler}"></label></div>
		<div class="col-md-6">
			<input id="duracion_alquiler" name="duracion_alquiler" th:field="${pelicula.duracion_alquiler}" type="number">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6"><label for="rentalRate" th:text="#{pelicula.precio}"></label></div>
		<div class="col-md-6">
			<input  id="rentalRate" name="rentalRate" th:field="${pelicula.rental_rate}" type="number" step="any" >
		</div>
	</div>
	<div class="row">
		<div class="col-md-6"><label for="duracion" th:text="#{pelicula.duracion}"></label></div>
		<div class="col-md-6">
			<input  id="duracion" name="duracion" th:field="${pelicula.duracion}" type="number">
			<p th:if="${#fields.hasErrors('duracion')}" class="error">
				<span th:if="${#fields.hasErrors('duracion', 'posittive')}" th:text="#{pelicula.duracion.positive}"></span>
				<span th:if="${#fields.hasErrors('duracion', 'notNull')}" th:text="#{pelicula.duracion.notNull}"></span>

			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6"><label for="replacement_cost" th:text="#{pelicula.costR}"></label></div>
		<div class="col-md-6">
			<input  id="replacement_cost" name="replacement_cost"  th:field="${pelicula.replacement_cost}" value="19,99" type="number" step="any" >
			<p th:if="${#fields.hasErrors('replacement_cost')}" class="error">
				<span th:if="${#fields.hasErrors('replacement_cost', 'min')}" th:text="#{pelicula.replacementCost.min}"></span>
			</p>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6"><input type="submit" th:value="#{btn.guardar}"/></div>
		<div class="col-md-6">
		</div>
	</div>
</div>
</form>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>